{#
/**
 * @file shot.html.twig
 * Default theme implementation to present Shot data.
 *
 * This template is used when viewing Shot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_shot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('shot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
